
#editTitle .row .label {
	float:left;
	width:150px;
	text-align:right;
	margin-right:10px;
}

#editTitle .row form {
	float: left;
	padding:0px;
	margin:0px;
}
#editTitle .row form input[type=text],
#editTitle .row form textarea {
	width:300px;
}
#editTitle .row form input[type=submit] {
	width:80px;
}
#editTitle .row {
	clear:both;
}
#editTitle h3 {
	clear:both;
}

