
#left-column
{ 
  background-color: rgba(255,255,255,.9);
  float:left;
  margin-right:5px;
  position:relative;
}
#right-column
{
  background-color: rgba(255,255,255,.9);
  float:left;
  position:relative;
}
#left-column p
{
  text-align:right;
  margin:0px;
  height:30px;
}
#right-column input[type=text]
{
  width:200px;
}
form
{
  margin:0px;
  height:30px;
}
#right-column input[type=submit]{
  width:80px;
}
h3
{
  text-align:right;
}