body
{
  background:gray;
  font-family: Helvetica;
}
body > div
{
  position:absolute;
  background:white;
}
#log
{
  height:100px;
  top:25px;
  left:25px;
  overflow-y:scroll;
}
#loadtarget
{
  display:none;
}
#tabstrip
{
  background:#AAAAAA;
  height:50px;
  top:25px;
  left:25px;
}
#pane
{
  top:75px;
  left:25px;
  overflow-x:hidden;
  overflow-y:scroll;
  border-left:2px solid black;
}
#preview
{
  top: 25px;
  right: 25px;
  text-align: center;
  overflow: hidden;
}
#program
{
  bottom: 25px;
  right: 25px;
  text-align: center;
  overflow: hidden;
}

#program, #preview
{
  background-color: #ccc;
  background-image: linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999), linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;  
}

#edit
{
  overflow: scroll;
  overflow-x: hidden; /* I've never seen need for x-axis scrolling. */
  position: absolute;
  top:25px;
  right:25px;
  background-color: rgba(255,255,255,.9);
  z-index: 1;
  display: none; /* Hide when it first loads. */
}
.bug
{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(loadCurrentBug.php) no-repeat; /* Assume default bug. */
  background-size: contain;
  pointer-events: none;
}
#pane ul
{
  list-style-type:none;
  margin:0px;
  padding:0px;
  display: none;
}
#pane ul.active {
  display: block;
}
#pane li
{
  font-size: 24px;
  width: 100%;
  border: solid 4px transparent;
  border-left-style: none;
  border-right-style: none;
  line-height: 32px;
  box-sizing: border-box;
  height: 41px;
  padding-left: 92px;
  border-bottom: 1px solid black;
  position: relative;
}
#pane li.selected
{
  font-weight: bold;
  border-color: #aaaaff;
  border-width: 4px;
}
#pane li:active
{
  border-color: #ffaaaa;
  border-width: 4px;
}
#pane li img
{
  height: 40px;
  width: 72px;
  left: 10px;
  top: -3px;
  position: absolute;
}
.ui-sortable
{
  cursor:default;
}
.ui-sortable-helper
{
  background:white;
}
.on-program
{
  background:red;
}
.on-edit
{
  background:#00FF00;
}
.on-preview
{
  background:orange;
}
.on-program
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, red), color-stop(.5, transparent), to(transparent));
}
.label
{
  display: inline-block;
  pointer-events: none;
  background: rgba(0,0,0,.3);
  position: relative;
  top: 0px;
  text-align: center;
  padding: 5px;
  z-index: 3;
}

#help
{
  padding:0 5px;
}

.tab
{
  background-color:#ccc;
  position:relative;
  float:left;
  height:20px;
  bottom:0px;
  margin-top:12px;
  margin-right:4px;
  padding:10px;
  padding-bottom:4px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border:2px solid black;
  cursor: default;
  -webkit-user-select: none;
}
.active
{
  background-color:white;
  border-bottom:none;
  padding-bottom:6px;
}
#preview img
{
  width: 864px;
}
#program img
{
  width: 864px;
}
.image
{
  position:absolute;
  top:0px;
  overflow:hidden;
}
.edit_target
{
  overflow:scroll;
  position:absolute;
  top:0px;
  height:486px;
  width:864px;
}
#program.on
{
  border:10px solid red;
  margin:-10px;
}
#input
{
  position:absolute;
  top:50%;
  height:100px;
  width:800px;
  left:440px;
  z-index:99;
  border:3px solid black;
  display:none;
}
#input input
{
  width:790px;
  height:90px;
  margin:5px;
  font-size:80px;
  text-align:center;
}
.show
{
  display:block;
}
#add-title
{
  height:50px;
  bottom:0px;
  position:absolute;
  background-color:black;
}
#eventSelector
{
  position:absolute;
  padding:10px;
  border: solid 3px black;
  -webkit-box-shadow: 5px 5px 5px #444;
  -webkit-border-radius: 10px;
}

#eventSelector ul
{
  list-style: none;
  margin:0px;
  padding:0px;
}

#eventSelector h2
{
  text-align:center;
  margin: 0px;
}


#renderQueue
{
  float: left;
  text-align: center;
  width: 140px;
  top: 25px;
  min-height: 250px;
  background-color: #AAA ;
  border: solid 3px black;
  -webkit-user-select: none;
  cursor: default;
}

.queueItem
{
  text-align: left;
  min-width: 140px;
  padding: 0px;
  padding-left: 7px;
  padding-right: 75px;
  float: left;
  clear: both;
  background-color: rgba(204,204,204,.5);
  pointer-events: none;
}
.queueItem pre
{
  margin-left: 5px;
}
.waiting
{
  background-color: rgba(204,204,204,.5);
}
.pending
{
  background-color: rgba(255,255,0,.5);
}
.completed
{
  background-color: rgba(0,255,0,.5);
}
.failed
{
  background-color: rgba(255,0,0,1);
}
@font-face
{
  font-family: IconicFill;
  src: url('assets/iconic_fill.svg') format("svg"),
  url('assets/iconic_fill.otf') format("opentype");
}

#queueMenu
{
  height: 38px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  -webkit-user-select: none;
}
.queueMenuButton
{
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
  font-family: IconicFill;
  font-size: 24pt;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #9a5515;
  -webkit-user-select: none;
}
.queueMenuButton:hover
{
}
.queueMenuButton div
{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-top: 3px;
	width: 38px;
	margin: 0 auto;
}

.queueItemButton
{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
  float: left;
  cursor: pointer;
  font-family: IconicFill;
  font-size: 16pt;
  width: 29px;
  height: 25px;
  padding: 0;
  padding-top: 5px;
  padding-right: 1px;
  margin: 0;
  margin-top: 5px;
  margin-right: 3px;
  background-color: orange;
  pointer-events: auto;
}

#updateAllContainer
{
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 4px;
}
/*
[data-icon]:before
{
  font-family: IconicFill;
  content: attr(data-icon);
}

#process:before
{
  content:'\e047';
  content: attr(data-icon);
}
#prune:before
{
  content:'\2796';
  content: attr(data-icon);
}
#destroy:before
{
  content:'\2713';
}*/
