body
{
  background:gray;
  font-family: Helvetica;
}
body > div
{
  position:absolute;
  background:white;
}
#log
{
  height:100px;
  top:25px;
  left:25px;
  overflow-y:scroll;
}
#loadtarget
{
  display:none;
}
#tabstrip
{
  background:#AAAAAA;
  height:75px;
  top:150px;
  left:25px;
}
#pane
{
  top:225px;
  left:25px;
  overflow-x:hidden;
  overflow-y:scroll;
}
#preview
{
  top:25px;
  right:25px;
  text-align:center;
  overflow:hidden;
}
#program
{
  bottom:25px;
  right:25px;
  text-align:center;
  overflow:hidden;
}
#edit
{
  overflow:scroll;
  position:absolute;
  top:25px;
  right:25px;
  background-color: rgba(255,255,255,.9);
}
#pane ul
{
  list-style-type:none;
  margin:0px;
  padding:0px;
}
#pane li
{
  font-size:24px;
  width:100%;
  height:40px;
  line-height:40px;
  padding-left:10px;
  border-bottom:1px solid black;
}
#pane li img
{
  height:40px;
  width:54px;
  margin-right:10px;
  /*margin: 0px -12px;*/
  vertical-align:middle;
}
.ui-sortable-helper
{
  background:white;
}
#pane li:active
{
  border:4px solid #ffaaaa;
  margin:-4px;
  margin-bottom:-3px;
}
.on-program
{
  background:red;
}
.on-edit
{
  background:00FF00;
}
.on-preview
{
  background:orange;
}
.on-program
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, red), color-stop(.5, transparent), to(transparent));
}
#pane .selected
{
  border:4px solid #aaaaff;
  margin:-4px;
  margin-bottom:-3px;
}
.label
{
  display:inline-block;
  background: rgba(0,0,0,.3);
  position:relative;
  top:0px;
  text-align:center;
  padding:5px;
  z-index: 3;

}
.tab
{
  background-color:white;
  position:relative;
  float:left;
  height:20px;
  bottom:0px;
  margin-top:38px;
  margin-right:4px;
  padding:10px;
  padding-bottom:3px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border:2px solid black;
}
.active
{
  border-bottom:none;
  padding-bottom:5px;
}
#preview img
{
  width: 864px;
}
#program img
{
  width: 864px;
}
.image
{
  position:absolute;
  top:0px;
  overflow:hidden;
}
edit_target
{
  overflow:scroll;
  position:absolute;
  top:0px;
  height:486px;
  width:864px;
}
.on
{
  border:10px solid red;
  margin:-10px;
}
#input
{
  position:absolute;
  top:50%;
  height:100px;
  width:800px;
  left:440px;
  z-index:99;
  border:3px solid black;
  display:none;
}
#input input
{
  width:790px;
  height:90px;
  margin:5px;
  font-size:80px;
  text-align:center;
}
.show
{
  display:block;
}
#add-title
{
  height:50px;
  bottom:0px;
  position:absolute;
  background-color:black;
}
#eventSelector
{
  position:absolute;
  padding:10px;
  border: solid 3px black;
  -webkit-box-shadow: 5px 5px 5px #444;
  -webkit-border-radius: 10px;
}

#eventSelector ul
{
  list-style: none;
  margin:0px;
  padding:0px;
}

#eventSelector h2
{
  text-align:center;
  margin: 0px;
}

#renderQueue
{
  float: left;
  text-align: center;
  width: 140px;
  top: 25px;
  min-height: 250px;
  background-color: #AAA ;
  border: solid 3px black;
}

.queueItem
{
  padding: 3px;
  float: left;
  clear: both;
}

@font-face
{
  font-family: IconicFill;
  src: url('assets/iconic_fill.svg') format("svg"),
  url('assets/iconic_fill.otf') format("opentype");
}

#queueMenu
{
  min-height: 25px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  background-color: blue;
}
.queueMenuButton
{
  display: inline-block;
  position: relative;
  width: 35px;
  font-family: IconicFill;
  font-size: 24pt;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 8px;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: red;
}
.queueMenuButton:hover
{
  
}

#process:before
{
  content:'\e048';
}
#prune:before
{
  content:'\e009';
}
#destroy:before
{
  content:'\2714';
}
